<h1>ブログ詳細画面<h1>
<p>タイトル: <%= @post.title %></p>
<p>内容: <%= @post.content %></p>

<p id= "notice"><%= notice %></p>

<p>
  <strong>画像:</strong>
  <%= image_tag @post.image.url %>
</p>

<%= link_to '編集', edit_post_path(@post) %>
<%= link_to '戻る', posts_path %>